Repository ersinware/github-actions-test: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, bash -c 'tsc --noEmit'

.lintstagedrc:

{
  "**/*.ts": [
    "prettier --write",
    "eslint --fix",
    "bash -c 'tsc --noEmit'" 
  ],
  "**/*.{json,md,js}": [
    "prettier --write"
  ]
}

commit
  .lintstagedrc
  package.json
Due: prettier --write

commit
  scripts/update-postman.ts
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit'

commit
  .dockerignore
  Dockerfile
  docker-compose.prod.local.yml
  docker-compose.yml
Due: none

commit
  .dockerignore
  docker-compose.prod.local.yml
  docker-compose.yml
  package-lock.json
Due: prettier --write

commit
  src/health/health.controller.ts
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit'

commit
  Dockerfile
Due: none

commit
  .github/workflows/check-security-quality.yml
Due: none

commit
  .github/workflows/build.yml
  .github/workflows/check-security-quality.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/deploy-fargate.yml
  .github/workflows/deploy.yml
  .github/workflows/pipeline.yml
  .github/workflows/validate.yml
Due: none

commit
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Due: none

commit
  src/main.ts
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit'

commit
  .husky/pre-commit
  .husky/pre-push
  package.json
  scripts/build-swagger.ts
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit'

commit
  scripts/build-swagger.ts
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit'

commit
  .github/workflows/validate.yml
  .husky/pre-push
  package-lock.json
  package.json
Due: prettier --write

commit
  .vscode/settings.json
  src/v1/cats/cats.controller.spec.ts
  src/v1/cats/cats.controller.ts
  src/v1/cats/cats.service.spec.ts
  src/v1/cats/cats.service.ts
  src/v1/cats/dto/cat.dto.ts
  src/v1/cats/interface/cat.interface.ts
  src/v2/cats/cats.controller.spec.ts
  src/v2/cats/cats.controller.ts
  src/v2/cats/cats.service.spec.ts
  src/v2/cats/cats.service.ts
  src/v2/cats/dto/cat.dto.ts
  src/v2/cats/interface/cat.interface.ts
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit'

commit
  package-lock.json
  package.json
  src/app.module.ts
  src/main.ts
  src/v1/cats/cats.controller.ts
  tsconfig.json
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit'

commit
  .github/workflows/build.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/pipeline.yml
  .github/workflows/validate.yml
  .lintstagedrc
  .prettierrc
  .spectral.yml
  docker-compose.prod.local.yml
  docker-compose.yml
  docs/index.html
  docs/redoc.html
  docs/swagger.html
  eslint.config.mjs
  package.json
Due: prettier --write

commit
  src/app.module.ts
  src/main.ts
  src/v1/cats/dto/cat.dto.ts
  src/v1/cats/dto/find-one-cat.dto.ts
  src/v1/cats/dto/get-cats-query.dto.ts
  src/v2/cats/dto/cat.dto.ts
  src/v2/cats/dto/find-one-cat.dto.ts
  src/v2/cats/dto/get-cats-query.dto.ts
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit'

commit
  nest-cli.json
  src/v1/cats/cats.controller.spec.ts
  test/cats.e2e-spec.ts
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit'

commit
  src/app.module.ts
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit'

commit
  .vscode/settings.json
Due: prettier --write

commit
  package-lock.json
  package.json
  scripts/build-swagger.ts
  src/main.ts
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit'

commit
  .lintstagedrc
Due: none

commit
  src/app.module.ts
  src/v1/cats/cats.controller.ts
  src/v1/cats/dto/cat.dto.ts
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit'

commit
  src/v1/cats/cats.controller.ts
  src/v1/cats/dto/cat.dto.ts
  src/v2/cats/cats.controller.ts
  src/v2/cats/dto/cat.dto.ts
  src/v2/cats/dto/find-one-cat.dto.ts
  src/v2/cats/dto/get-cats-query.dto.ts
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit'
